body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
*{
	box-sizing: border-box;
}
.box{
	width: 100%;
	height: 100%;
	background: url(../img/dl2.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}
.zhao{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;left: 0;
	background: rgba(0,0,0,0.5);
}
.login{
	width: 5.4rem;
	height: 8.4rem;
	border: 0.04rem solid #fff;
	position: absolute;
	top: 0;bottom: 0;
	right: 0.7rem;
	margin:auto;
	border-radius: 3.2rem 3.2rem 0 0;
	color:#FFFF00;
	font-size: 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.04rem 0 #292927;
}
h1{
	font-size: 0.7rem;
	position: absolute;
	left: 0;right: 0;top: 1.9rem;
	margin: auto;
	text-align: center;
	
}
.yuan{
	width: 0.8rem;
	height: 0.8rem;
	border: 0.04rem solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 0.5rem;
	left: 0;right: 0;
	margin: auto;
}
.login form{
	position: absolute;
	width: 4.2rem;
	height: 4.4rem;
	left: 0;right: 0;
	bottom: 0.2rem;
	margin:auto;
}
form div{
	width: 100%;
	height: 0.85rem;
	margin-bottom: 0.7rem;
	
}

.login input{
	background: none;
	border :0.04rem solid #fff;
	color: #F7F7F7;
	height: 0.6rem;
	width: 4.2rem;
}
form .name input{
	padding-left: 0.4rem;
	font-size: 0.3rem;
	color: #DCE6F0;
}
.tij input{
	width: 1.7rem;
	height: 0.7rem;
	text-align: center;
	line-height: 0.7rem;
	background: #D4C649;
	border-radius: 0.3rem;
	font-size: 0.4rem;
	border: 0;
	box-shadow: 0.1rem 0.1rem 0.03rem 0 #988E31;
}
.tij .log{
	margin-right: 0.45rem;
}
