body,html{
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
}
a,li,ul,p,span,h1,h2{
    padding: 0;margin: 0;list-style: none;
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{font-family:Helvetica;}

.xiala{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	margin-top: 2rem;

	-webkit-transition: all 2s;
	display: none;
}
.xiala ul{
	padding: 0.35rem;
	padding-left: 1.3rem;
}
.xiala li{
	padding: 0.2rem;
	text-align: center;
	float: left;
	font-size: 0.3rem;
	padding-right: 0.5rem;
}
.xiala li .iconfont{
	color: #999;
	font-size: 0.6rem;
}
.xiala a{
	color: #333;
}
.sousuo{
	padding-left: 1.3rem;
}
.waimian{
    width:100%;
    height:100%;
}
.swiper-wrapper{
    width: 100%;
}
.titles{
    width:100%;
    height: auto;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}
.title{
    width: 100%;
    height:0.98rem;
    background: #FF4258;
    display: flex;
    display: -webkit-box;
    /**/
}
.title>div{
    width:33.33%;
    height:100%;
}
.close{
	width: 0.5rem;
	height: 0.03rem;
	background: #fff;
	margin: auto;
	margin-top: 0.42rem;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	transform: rotate(45deg) translateY(0.15rem); 
	-webkit-transform: rotate(45deg) translateY(0.15rem)
}
.closes{
	width: 0.5rem;
	height: 0.03rem;
	background: #fff;
	margin: auto;
	margin-top: 0.2rem;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	transform: rotate(45deg) translateY(-0.15rem); 
	-webkit-transform: rotate(-45deg) translateY(-0.15rem);

}
/*.caid{
	display: none;
}*/
.guan{
	display: none;
}
.bj{
    overflow-y: auto;
}
.iconfont{
    line-height: 0.98rem;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
}
.icon-news{
    font-size: 0.9rem;
}
.nav{
    width:100%;
    height:0.97rem;
    display: flex;
    display: -webkit-box;
    justify-content:space-between;
    -webkit-box-pack:justify;
    background: #fff;
}
.nav>div {
    width:1rem;
    height:100%;
    text-align: center;
    line-height: 0.97rem;
    color: #FF4258;
    font-size: 0.25rem;
}
.nav>div a{
    color: #FF4258;
    text-decoration: none;
}
.nav>div:hover{
    border-bottom: 0.01rem solid #FF4258;
}
.nav>div:nth-of-type(1){
    margin-left:0.1rem;
    border-bottom:0.01rem solid #FF4258;
}
.nav>div:nth-of-type(6){
    margin-right:0.1rem;
}


/*首页*/
.banner{
    width:100%;
    height:4.5rem;
    margin-top: 2rem;
}
.nanning{
    width: 100%;
    height: 100%;
    background: url(../img/nn.jpg);
    background-size: cover;
    color: #3B3B3B;
    font-size: 0.3rem;
    position: relative;
}
.lang{
    width: 100%;
    height: 100%;
    background: url(../img/lang.jpg);
    background-size: cover;
    color: #fff;
    font-size: 0.3rem;
    position: relative;
}
.nanning p,.lang p{
    position: absolute;
    bottom:0.1rem;
    padding-left: 0.2rem;
}
.newsbox{
    width:6.54rem;
    height:1.82rem;
    margin: 0 auto;
    border-bottom: 0.01rem solid #999;
}
.imgbox{
    width:2.2rem;
    height:1.65rem;
    margin-top:0.1rem ;
    background: url(../img/pxh.jpg) no-repeat;
    background-size: cover;
    margin-right: 0.3rem;
    float: left;
}
.newsbox .red{
    float: left;
    width: 4rem;
    height:100%;
    position: relative;
}
.newsbox a{
    float: left;
    width: 4rem;
    height:auto;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #6B6B6B;
    font-size: 0.3rem;
}
.newsbox .icon-f1{
    color: #FF4258;
    float: right;
    position: absolute;
    right:0.1rem;
    bottom:0;
}
.jg{
    background: url(../img/jg.jpg);
    background-size: cover;
}
.bx{
    background:url(../img/bx.jpg);
    background-size: cover;
}
.jl{
    background:url(../img/jl.png);
    background-size: cover;
}
.gn1{
    background:url(../img/gn1.jpg);
    background-size: cover;
}
.gn2{
    background:url(../img/gn2.png);
    background-size: cover;
}
.gn3{
    background:url(../img/gn3.jpg);
    background-size: cover;
}
.gn4{
    background:url(../img/gn4.png);
    background-size: cover;
}
.gn5{
    background:url(../img/gn6.png);
    background-size: cover;
}
.gn6{
    background:url(../img/gn7.png);
    background-size: cover;
}
.gn7{
    background:url(../img/gn8.png);
    background-size: cover;
}
.warp{
    width: 100%;
    height:0.5rem;
}
h1{
    color: #100C0C;
    font-size: 0.45rem;
    padding-left: 0.5rem;
    line-height: 0.25rem;
    margin-top: 0.2rem;
}
h2{
    color: #100C0C;
    font-size: 0.45rem;
    padding-right: 0.5rem;
    line-height: 0.5rem;
}
.title1{
    margin-top: 2.1rem;
}
.xiangq{
    width: 100%;
    height:100%;
    margin-top: 2rem;
    background: #000;
    color: #fff;
}
.icon-fanhui{
    padding-left: 0.5rem;
    color: #fff;
    font-size: 0.3rem;
    float: left;
    /*transform: rotateY(90deg);*/
}
.fanhui{
    width: 100%;
    height:0.2rem;
    
}
.xiangcun{
    width: 100%;
    height:3.449rem;
    margin-top: 2rem;
    background: url(../img/js.jpg);
    background-size: cover;
}
h3{
    font-size: 0.45rem;
    margin-top: 0.3rem;
}
.neirong{
    line-height: 0.42rem;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
    font-size: 0.25rem;
}